@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* Import Font Awsome */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* start Content */
.row{
    margin: 0px;
}
a{
   color:#636363!important ; 
}
.nav-item a:hover{
    text-decoration: none;
    border-bottom: #262163 2px solid;
}
body{

}
ul{
    padding-right: 0px;
}
/* end content */
/* start Header */
.header{
    z-index: 5000;
    background: #fff;
    padding-top: 15px;

}
.header header .logo img{
    width: 150px;
}
.header header .icon ul{
    padding-top: 8px;
}
.header header .icon ul li {
    list-style: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;

}

.header header .icon .circle-action{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 30px;
    border: 1px solid #ececec;
    border-radius: 3px;
    background: #fff;
    color: #5a5a5a;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.header header .icon .circle-action:hover a span i,
.header header .icon .circle-action:hover {
    background: #252161;
    color: #fff;
}
.dropdown-menu a{
        text-align: right;
}
.header header .navs nav .dropdown:hover .dropdown-menu{
    display: block;
}
.header header .navs nav .navbar-nav{
    padding-right: 0px;
}
/* start toogle menue */
.toggle-menue{
    display: none;
}
.toggle-nav svg{
    width: 20px;
    height: 20px;
    }
    #sidebar{
        position: fixed;
        width: 80%;
        height: 100%;
        background: #FFF;
        right:-80%;
        top: 0px;
        overflow-y: auto;
        border-left: 1px solid #00000052;
        z-index: 500;
    }
    #sidebar.active{
        right: 0%!important;
    }
    #sidebar .upper-nav {
        background-color: #1f1954;
    }
    #sidebar svg{
        width: 35px;
        height: 35px;
        fill: #fff;
        margin-top: 19px;
    }
    #sidebar .upper-nav .user-pic{
        display: block;
        margin: 0 auto;
        width: 75px;
        height: 75px;
        border: 2px solid #fff;
        border-radius: 50%;
    }
    #sidebar .upper-nav .tasgel-login{
        margin-top: 18px;
        margin-bottom: 31px;
        border: none;
        border-radius: 20px;
        width: 133px;
        font-size: 12px;
        padding-bottom: 6px;
        /* vertical-align: middle; */
        background: #fff;
        color: #636363;
    }
    #sidebar ul li{
        list-style: none;
        padding-bottom: 15px;
    }
    #sidebar ul li.active{
        padding-top: 30px;
    }
    #sidebar ul li a{
        color: #636363; 
    }
    #sidebar .sub-menu-toggle{
        display: none;
    }
    #sidebar .sub-menu-toggle{
        display: none;
    }
    #sidebar ul li.drop-down:hover .sub-menu-toggle{
        display: unset;
    }
/* end toggle menue */
/* end header */

/* start section title */
.title .section-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: .5rem;
    background-color: #fff;
    z-index: 5;
    margin-top: 30px;
}
 .section--title:before {
    margin-left: 1rem;
}
.title .section-title::after,
.title .section-title::before{
    content: "";
    height: 2px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  background: #ececec;
    margin-top: 10px;
    padding: 0px;
}
.title {
    margin-top: -32px;
}
.title .section-title{
        background: #fafafa;
}
/*start body*/
.breadcrumb ul{
    list-style: none;
}
.breadcrumb ul li {
    display: inline-block;
}
.breadcrumb ul li a {
      font-size: 14px;
      text-decoration: none;
}

.breadcrumb {
         background-color: #fafafa;
    margin-bottom: -20px;
}


/*end body*/

/*start project*/
.text{
    background-color: #fafafa;
        height: 87px;
    margin-bottom: -28px;
}
.text h2 span {
    font-size: 25px;
}


/*end project*/



.border-1{
        width: 100%;
    height: 4px;
    background: #1f1954;
    margin-top: 31px;
}





/*footer */ 


.footer-main{
        background: #fafafa;
            height: 295px;

}


.footer-title {
        color: #000034;
        font-size: 17px;
            margin-top: 64px;
}
.footer-title span{
    font-size: 17px;
    color: #000034;
}

.footer-links  li {
        list-style: none;
        font-size: 14px;
    
    direction: rtl;
    text-align: right;
        margin-right: -38px;
            line-height: 2;
}
.footer-links  li a{
        color: #636363;
    font-weight: 500;
    font-size: 15px;
}
.mb-3{
      line-height: 1.6;
   color: #333;
    margin-top: 21px;
    font-weight: 500;
       
}
.store-contact a{
     color: #636363;
     padding: 5px;

}
.store-contact i{
        padding-left: 4px;
}

.store-contact a:hover{
    color: red;
    text-decoration: none;
}



.footer-links  {
        margin-top: 20px;
            margin-right: 35px;
}


.footer-links  li a {
         
}
.social li {
        padding-right: 11px;
    font-size: 22px;
    list-style: none;
       
    color: #6b6b6b;
    direction: rtl;
    text-align: right;
        display: inline-block;
}
.footer-wrapper {
        margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
        margin-bottom: 12px;
}
.footer-sub{
    margin-top: 12px;
}
.copyright p{
    font-size: 14px;
    text-align: right;
        color: #8f96a8;
}
.copyright p a{
    font-size: 15px;
         color: #8f96a8;
            text-decoration: none;
}
.copyright p a:hover{
     color: #292929;
     font-weight: bold;
}
.social{
        text-align: right;
    margin-right: 0px;
    margin-top: 23px;
}
.social li a svg{
    height: 24px;
      fill: #101010;
    cursor: pointer;
}
.social__item{
    display: inline-block;
    margin-left: .25rem;
}
.social__item a{
    display: block;
    width: 36px;
    height: 36px;
    color: rgba(0,0,0,.5);
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.2);
    font-size: 18px;
    transition: all .2s ease-out;
}
 .social__item a {
    position: relative;
}
.imges img{
        max-width: 36px;
}
/*footer-end*/

